<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginVerification</servlet-name>
        <servlet-class>LoginVerification.LoginVerification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>Order.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Order.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseOrderType</servlet-name>
        <servlet-class>Order.ChooseOrderType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChoosePaymentMethod</servlet-name>
        <servlet-class>Order.ChoosePaymentMethod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentVerification</servlet-name>
        <servlet-class>Order.PaymentVerification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeReservation</servlet-name>
        <servlet-class>Reservation.MakeReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseLocation</servlet-name>
        <servlet-class>Order.ChooseLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>Users.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupVerification</servlet-name>
        <servlet-class>LoginVerification.SignupVerification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncomingOrder</servlet-name>
        <servlet-class>EmployeeOrdering.IncomingOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrders</servlet-name>
        <servlet-class>EmployeeOrdering.ManageOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignTable</servlet-name>
        <servlet-class>EmployeeOrdering.AssignTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMenu</servlet-name>
        <servlet-class>AdminManagement.ManageMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemManage</servlet-name>
        <servlet-class>AdminManagement.ItemManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUsers</servlet-name>
        <servlet-class>AdminManagement.RemoveUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginVerification</servlet-name>
        <url-pattern>/LoginVerification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseOrderType</servlet-name>
        <url-pattern>/ChooseOrderType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChoosePaymentMethod</servlet-name>
        <url-pattern>/ChoosePaymentMethod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentVerification</servlet-name>
        <url-pattern>/PaymentVerification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeReservation</servlet-name>
        <url-pattern>/MakeReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseLocation</servlet-name>
        <url-pattern>/ChooseLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupVerification</servlet-name>
        <url-pattern>/SignupVerification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncomingOrder</servlet-name>
        <url-pattern>/IncomingOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrders</servlet-name>
        <url-pattern>/ManageOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignTable</servlet-name>
        <url-pattern>/AssignTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMenu</servlet-name>
        <url-pattern>/ManageMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemManage</servlet-name>
        <url-pattern>/ItemManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUsers</servlet-name>
        <url-pattern>/RemoveUsers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
